@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-style: normal;
    background: #F5F8FF;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
}

/* Minimal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

p {
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    color: #8987A1;
}

button {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 4.063rem;
    font-family: "Noto Serif", serif;
    font-weight: bold;
}

h2 {
    font-size: 3.125rem;
    font-weight: bold;
    font-family: "Noto Serif", serif;
}

h5 {
    font-size: 1rem;
    font-weight: bold;
}

h6 {
    font-size: .875rem;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

.black {
    color: #1f1f1f;
}

.gold {
    color: #E95A08;
}

.btn a {
    color: #FFFFFF;
}

.btn {
    background-color: #E95A08;
    padding: 20px 80px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.container {
    max-width: 71.25rem;
    margin: 0 auto;
}

section {
    margin-top: 120px;
}

.text-center {
    text-align: center;
}

/* Navbar Section */
.navbar-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

nav ul {
    display: flex;
    gap: 48px;
    list-style: none;
}

nav ul li {
    display: list-item;
}

nav ul .home a {
    color: #252432;
    font-weight: bold;
}

nav ul .cart {
    display: flex;
    gap: 10px;
    color: #252432;
    font-weight: normal;
}

nav ul .cart a {
    color: #252432;
}

.navbar-area li.home a,
.navbar-area li.cart a {
    color: inherit;
}

/* Banner Section */

.banner-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 10px;
}

.banner-content h1 {
    margin-bottom: 13px;
}

/* Our Plants Section */
.text-center {
    text-align: center;
}

.heading-part h2 {
    font-family: 'Noto Serif';
    font-size: 50px;
    margin-bottom: 16px;
}

.heading-part {
    padding: 0 126px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    margin-top: 50px;
}

.product h4 {
    font-weight: 500;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.product b {
    font-size: 22px;
    font-family: 'Inter';
    font-weight: bold;
    margin-top: 20px;
}

.product {
    box-shadow: 1px 18px 15px 13px #E3E3E3;
}

.product .btn {
    margin-top: 30px;
}

/* Flower & Plants Lover Section */
.plant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.plant-des ul {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    list-style: disc;
}

.plant-des {
    padding: 38px 38px;
}

.plant-des ul li {
    margin-top: 20px;
}

.plants-img {
    position: relative;
}

.badge {
    position: absolute;
    top: -135px;
    right: -130px;
    max-width: 285px;
    height: 285px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.plants {
    padding-top: 210px;
}

.plant-des h2 {
    margin-left: -20px;
}

/* Latest Deals Section */
.deals {
    display: grid;
    grid-template-columns: 367px 753px;
    gap: 28px;
    height: 423px;
    margin-top: 120px;
}

.deal-left {
    display: grid;
    row-gap: 25px;
}

.deal-left-1 {
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}

.deal-left-1 .deal-text h3 {
    font-size: 20px;
}

.deal-left-1 .deal-text a {
    font-size: 16px;
}

.deal-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
}

.deal-text h3 {
    font-family: 'Noto Serif';
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.deal-text a {
    font-family: 'Inter';
    font-weight: bold;
    color: #FFFFFF;
    font-size: 28px;
    text-decoration: underline;
}

.deal-text {
    text-align: center;
    position: absolute;
    z-index: 2;
}

.deal-right:before,
.deal-left-1::before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 15px;
}